{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <p>
    {% if app.user.userIdentifier is defined %}
        Vous êtes connecté {{ app.user.userIdentifier }} !
    {% else %}
        Vous n'êtes pas connecté.
    {% endif %}
    </p>
</div>
{% endblock %}