<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cloudy{% endblock %}</title>
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/473/473697.png">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer class="footer">
            <p>Copyright</p>
        </footer>
    </body>
</html>
