{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <p>Vous êtes connecté {{ app.user.userIdentifier }} !</p>
    <a href="{{ path('app_home')}} ">   
        <input type="button" value="Retour au menu" />
    </a>
    <a href="{{ path('app_logout')}} ">   
        <input type="button" value="Mes publications" />
    </a>
    <a href="{{ path('app_user_profile')}} ">
        <input type="button" value="Mon profil" />
    </a>
</div>
{% endblock %}
