{% extends 'base.html.twig' %}

{% block body %}

<main class="main">
    <section class="pictures-crowd">

        {% for pic in pictures %}

        <div class="pic-block">
            <a href="{{path('app_picture_show',{id: pic.id})}}">
                <img src="/upload/{{ pic.path }}" alt="L'image n'a pas pu être chargé" class="pic-pic">
            </a>
            </div>
        </div>
    {% endfor %}
    </section>
</main>
{% endblock %}
