{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">

</div>

<div>
    <ul>
    {% for pic in pictures %}
        <li><a href="{{path('app_picture_show',{id: pic.id})}}">{{ pic.title }}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
